@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

html {
  scroll-behavior: smooth;
  /* background: #faedcd;   */
  background: #FFECD1;  
}
.universal-img{
  border: solid 1px #000;
}

._textShadow {
  text-shadow: 1px 1px 2px #000;
}

._textShadowBold {
  text-shadow: 3px 3px 4px #000;
}
 

  h2 {
  font-size: 30px;
  /* text-decoration: underline; */
}

  .dropdown .nav-menu {
   background: teal;
    color: #000;
    border-left: solid 2px #000;
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
  }

  .dropdown .nav-menu.active {
    right: 0;
    transition: 350ms;
  }


 